/* Farbe: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2E2E2E;
    font-family: "Work Sans";
    font-size: 1rem;
    color: #ebccc2;
    height: 100vh;
}
.full-width-section {
    width: 90%;
    margin: 28rem auto;
}
.hero-image {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

/* HEADER */
header {
    position: fixed;
    display: flex;
    margin: 1rem 0 0 0;
    width: 100vw;
    height: 3rem;
    top: 0;
    z-index: 100;
}
header img {
    position: absolute;
    margin-left: 5%;
    z-index: 9;
}
header ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0 5% 0 auto;
}
header ul li a {
    display: inline-block;
    text-decoration: none;
    color: #ebccc2;
    opacity: .5;
    margin: 0 1rem;
}
header ul li:first-of-type {
    margin-right: 2rem;
}
/* h1 */
section > h1 {
    font-size: 1.5rem;
    font-weight: 200;
    position: absolute;
    left: 30%;
    top: 20%;
}
header ul li a:hover {
    opacity: 1;
    transition: 1s ease-in-out;
}

/* NAV SIDE */

nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: fixed;
    top: 35%;
    left: 2%;
    z-index: 8;
}
nav ul li {
    display: flex;
    z-index: 89;
}
nav ul li a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color:white;
    opacity: .3;
    z-index: 8;
}
nav ul li a:active {
    opacity: 1;
}
nav ul li:nth-of-type(odd)::before {
    display: inline-block;
    content: '';
    width: .7rem;
    border: 1.2px solid white;
    border-radius: 50%;
    margin: 1px 3rem 5px 0;
    color: white;
    opacity: .5;
}
nav ul li:nth-of-type(even)::before {
    content: '';
    border: 1px solid white;
    height: 3rem;
    margin: .4rem .4rem;
    opacity: .5;
}
/* CONTAINER */
.container {
    display: flex;
    width: 70%;
    height: 37.5rem;
    margin: 6rem auto;
    font-weight: 200;
}
.container img {
    height: 30rem;
    width: auto;
    margin-right: 2rem;
}
.container p {
    color: white;
}
.container div {
    display: block;
    margin: 7rem 3rem 0rem 4rem;
    opacity: .5;
    line-height: 1.6rem;
}

/* LOUNGER */
#split-section {
    width: 100vw;
    height: 97vh;
    background-color: white;
}
#split-section img {
    position: relative;
    margin: 0 auto;
    width: 100vw;
    height: 98vh;
    top: 0;
}
#split-section div {
    position: absolute;
    width: 40%;
    height: 920px;
    background-color: #2E2E2E;
    right: 0;
    left: 60%;
    z-index: 9;
}
#split-section div h3, #split-section div p {
    position: relative;
    top: 27%;
    margin-left: 3rem;
}
#split-section div h3 {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 8rem;
}
#split-section div p {
    color: white;
    font-weight: 200;
    width: 30rem;
    line-height: 1.6rem;
    opacity: .5;
    margin-bottom: 1rem;
}