/* Farbe: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115) */

@font-face {
    /* work-sans-regular - latin */
    @font-face {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/work-sans-v8-latin-regular.eot');
        /* IE9 Compat Modes */
        src: local(''),
            url('../fonts/work-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/work-sans-v8-latin-regular.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/work-sans-v8-latin-regular.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/work-sans-v8-latin-regular.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/work-sans-v8-latin-regular.svg#WorkSans') format('svg');
        /* Legacy iOS */
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2E2E2E;
    font-family: "Work Sans";
    font-size: 1rem;
    color: #ebccc2;
    height: 100vh;
}
.full-width-section {
    width: 90%;
    margin: 28rem auto;
}
.hero-image {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

/* HEADER */
header {
    position: fixed;
    display: flex;
    margin: 1rem 0 0 0;
    width: 100vw;
    height: 3rem;
    top: 0;
    z-index: 100;
}
header img {
    position: absolute;
    margin-left: 5%;
    z-index: 9;
}
header ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0 5% 0 auto;
}
header ul li a {
    display: inline-block;
    text-decoration: none;
    color: #867772;
    opacity: .5;
    margin: 0 1rem;
}
header ul li:first-of-type {
    margin-right: 2rem;
}
/* h1 */
section > h1 {
    font-size: 1.5rem;
    font-weight: 200;
    position: absolute;
    left: 30%;
    top: 20%;
}
header ul li a:hover {
    color: #ebccc2;
    opacity: 1;
    transition: 1s ease-in-out;
}

/* NAV SIDE */

nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: fixed;
    top: 35%;
    left: 2%;
    z-index: 8;
}
nav ul li {
    display: flex;
}
nav ul li a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    opacity: .3;
    z-index: 8;
}
nav ul li a:active {
    opacity: 1;
}
nav ul li:nth-of-type(odd)::before {
    display: inline-block;
    content: '';
    width: .7rem;
    border: 1.2px solid #fff;
    border-radius: 50%;
    margin: 1px 3rem 5px 0;
    color: white;
    opacity: .5;
}
nav ul li:nth-of-type(even)::before {
    content: '';
    border: 1px solid #fff;
    height: 3rem;
    margin: .4rem .4rem;
    opacity: .4;
}
/* SPLIT-SECTION */
.container {
    display: flex;
    width: 75%;
    height: 37.5rem;
    margin: 6rem auto;
    font-weight: 200;
}
.container img {
    height: 30rem;
    width: auto;
}
.container p {
    color: #fff;
}
.container div {
    display: block;
    margin: 7rem 0 0 3rem;
    opacity: .5;
    line-height: 1.6rem;
    width: 70%;
}
.container div h2 {
    font-weight: 400;
    margin-bottom: 1rem;
}

/* LOUNGER */
#split-section {
    width: 100vw;
    height: 97vh;
    background-color: #fff;
}
#split-section img {
    position: relative;
    margin: 0 auto;
    width: 100vw;
    height: 98vh;
    top: 0;
}
#split-section div {
    position: absolute;
    width: 40%;
    height: 100vh;
    background-color: #2E2E2E;
    right: 0;
    left: 60%;
    z-index: 9;
}
#split-section div h3, #split-section div p {
    position: relative;
    top: 27%;
    margin-left: 3rem;
}
#split-section div h3 {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 8rem;
}
#split-section div p {
    color: #fff;
    font-weight: 200;
    width: 30rem;
    line-height: 1.6rem;
    opacity: .5;
    margin-bottom: 1rem;
}
/* INSPIRATION */

.video {
    display: flex;
    width: 50%;
    height: auto;
    margin: 10rem auto 7rem auto;
}
.inspiration-1 {
    display: block;
    margin: 18rem auto;
    font-weight: 200;
}
.inspiration-1 h2, .inspiration-1 h3 {
    color: #ebccc2;
    font-weight: 200;
}
.inspiration-1 h3 {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-stretch: expanded;
}
.inspiration-1 h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.inspiration-1 p {
    color: #ebccc2;
    opacity: .8;
}
.inspiration-2 {
    display: block;
    width: 40rem;
    margin: 2rem 0 0 22%;
}
.inspiration-2 p {
    font-weight: 100;
    color: #fff;
    opacity: .5;
    font-size: 1rem;
    margin-bottom: 10rem;
}
#full-width-section button {
    width: 4rem;
    height: 1.5rem;
    background-color: transparent;
    color:  #fff;
    border: 1px solid #fff;
    border-radius: .2rem;
    opacity: .5;
    font-weight: 100;
    margin-bottom: 2rem;
}
.inspi-grid {
    display: grid;
    grid-template-rows: repeat(2, 22.5rem);
    grid-template-columns: 22.5rem 22.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.inspi-grid img {
    width: 22.5rem;
    height: auto;
}
.inspi-grid img:first-of-type {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    object-fit: contain;
}
.inspi-grid img:last-of-type {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    object-fit: contain;
}
.inspi-contain {
    width: 90%;
    margin-left: 1rem;
    opacity: .8;
}
.inspi-contain p {
    opacity: .8;
    font-size: 1rem;
    color: #fff;
    line-height: 1.5rem;
}
/* SHOP */
#split-section .cont-phones {
    margin: 0 auto;
    width: 40%;
}
#split-section .phones {
    display: block;
    width: 30rem;
    height: auto;
    margin-top: 7rem;
    justify-self: center;
}
#split-section .cont-phones h1, .cont-phones p, .cont-phones button {
    text-align: center;
    margin-bottom: .5rem;
}
#split-section .cont-phones p {
    top: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 100%;
}
.cont-phones button {
    display: block;
    margin: 0 auto;
    background-color: #ebccc2;
    color: black;
    width: 4rem;
    height: 2rem;
    border-radius: .2rem;
    border-style: none;
}
.cont-phones a {
    text-decoration: none;
}
/* CONTACT */

#split-section.contact {
    display: block;
    margin: 0 auto;
    width: 40%;
}
#split-section h2 {
    text-align: center;
    margin: 8rem auto;
    font-weight: 200;
}

#split-section form {
    position: absolute;
    margin: 0 auto;
    display: block;
    text-align: left;
    font-weight: 200;
}
.form-div {
    margin: 0 0 0 -13rem;
    display: table;
}
.form-div label {
    display: block;
    text-align: center;
    margin-bottom: .5rem;
}
.form-div input,
.form-div button {
    display: block;
    height: 2rem;
    width: 20rem;
    border-radius: .5rem;
    align-self: center;
}
.form-div input:nth-of-type(2) {
    background-color: #ebccc2;
}
.form-div h4 {
    text-align: center;
    margin: .5rem auto;
}
.form-div input:nth-of-type(3) {
    width: 20rem;
    height: 10rem;
}